/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 29, 2015, 2:49:29 PM
    Author     : Marcelino
*/
body{
    background: url('bg.jpg') ;
    background-size: cover;
}
.ui-widget-content {
    border: 1px solid #000000;
    background: rgba(58, 58, 58, 0.82);
    color: #FFFFFF;
}
.ui-widget-content a {
    color: #FFFFFF;
} 
.ui-widget-header {
    border: 1px solid #B45165;
    background: #191741 url("/PodatkovnaZascita/faces/javax.faces.resource/images/ui-bg_highlight-soft_100_c4c4c4_1x100.png?ln=primefaces-aristo") 50% 50% repeat-x;
    background: #c4c4c4 linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #181744 -webkit-gradient(linear, left top, left bottom, from(rgb(37, 28, 47)), to(rgba(255,255,255,0)));
    background: #c4c4c4 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    color: #FFF;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgb(147, 51, 71);
}