<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
            </f:facet>
            <link type="text/css" rel="stylesheet" href="./resources/style.css"/>
  
        </h:head>

        <h:body id="excercise">
      

         <p:stack icon="/resources/stack.png" expanded="true">
    <p:menuitem value="1.vaja" icon="/resources/excercise.png" url="/faces/VAJA1.xhtml"/>
    
</p:stack>
               
        </h:body>

    </f:view>
</html>

