<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
            </f:facet>

            <link type="text/css" rel="stylesheet" href="./resources/style.css"/>
        </h:head>

        <h:body>

            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="150" resizable="true" closable="true" collapsible="true">
                    <h1 style="text-align: center;">Podatkovna zaščita - Vaja 1</h1>
                   
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    Footer
                </p:layoutUnit>

                <p:layoutUnit position="west" size="170" header="Menu" collapsible="true">
                    <p:menu style="width: 145px;" >

                        <p:menuitem value="Home" url="./index.xhtml" />
                        <p:menuitem value="Vaja 1" url="./faces/VAJA1.xhtml" />



                    </p:menu>
                </p:layoutUnit>

                <p:layoutUnit position="center">
                     <h:form> 
                        <p:panel style="width: 250px; margin: 0 auto; border:0 !important;" >
                            <p:commandLink style="padding: 5px;" value="PlayFair" actionListener="#{firstExcerciseBean.viewFirst}" update=":content:contentPanel" />
                            <p:commandLink style="padding: 5px;" value="Bacon" actionListener="#{firstExcerciseBean.viewSecond}" update=":content:contentPanel" />
                            <p:commandLink style="padding: 5px;" value="AutoKey" actionListener="#{firstExcerciseBean.viewThird}" update=":content:contentPanel" />
                        </p:panel>
                          <h1 style="text-align: center;">Klasične šifre</h1>
                    </h:form>
                    <h:form id="content" enctype="multipart/form-data" style="border:0 !important;">
                        <p:panel id="contentPanel" style="border:1px solid transparent !important;">
                           
                            <br />

                            <c:if test="#{firstExcerciseBean.first}">
                                <p:panel id="firstMode" rendered="#{firstExcerciseBean.firstMode}" style="border:0 !important; width: 350px; margin:0 auto;">
                                    <p:outputLabel value="Please select what you want to do:" />
                                    <p:selectOneRadio id="mode" value="#{firstExcerciseBean.mode}">
                                        <f:selectItem itemLabel="Cipher" itemValue="true" />
                                        <f:selectItem itemLabel="De-Cipher" itemValue="false" />
                                    </p:selectOneRadio>

                                    <p:commandButton style="float: right;" value="confirm" actionListener="#{firstExcerciseBean.insertMode}" update="contentPanel "/>
                                </p:panel>
                                <p:panel rendered="#{firstExcerciseBean.firstUpload}">
                                    <p:outputLabel for="upload" rendered="#{firstExcerciseBean.mode}" value="Upload file:" />
                                    <p:fileUpload id="upload"  rendered="#{firstExcerciseBean.mode}" allowTypes="/(\.|\/)(txt)$/" mode="advanced" fileUploadListener="#{firstExcerciseBean.handleFileUpload}"  sizeLimit="500000000000" fileLimit="1" multiple="false"  update="contentPanel" />
                                    <p:outputLabel for="path"  rendered="#{!firstExcerciseBean.mode}" value="Insert path to file" />
                                    <p:inputText id="path" rendered="#{!firstExcerciseBean.mode}" value="#{firstExcerciseBean.upload_path}"  />
                                    <p:commandButton rendered="#{!firstExcerciseBean.mode}" actionListener="#{firstExcerciseBean.uploadDecryption}" value="Upload" style="float:right" update="contentPanel" />
                                </p:panel>
                                <p:panel id="firstPreview" rendered="#{firstExcerciseBean.firstPreview}">
                                    <p:editor rendered="#{firstExcerciseBean.mode}" value="#{firstExcerciseBean.preview}" />
                                    <p:editor rendered="#{!firstExcerciseBean.mode}" value="#{firstExcerciseBean.preview_decrypt }" />
                                    <br />
                                    <p:outputLabel for="KEY" value="Please insert key: " />
                                    <p:inputText id="KEY" value="#{firstExcerciseBean.keyword}" required="true" requiredMessage="Key is not optional! please insert key:"/>

                                    <p:commandButton style="float: right;" actionListener="#{firstExcerciseBean.playfair}" value="Confirm" update="contentPanel" />


                                </p:panel>
                                <p:panel id="firstTelemetry" rendered="#{firstExcerciseBean.firstTelemetry}">
                                    <p:outputLabel value="Start date: " />
                                    <p:outputLabel value="#{firstExcerciseBean.start.date}/#{firstExcerciseBean.start.month}/#{firstExcerciseBean.start.year}  #{firstExcerciseBean.start.hours}:#{firstExcerciseBean.start.minutes}:#{firstExcerciseBean.start.seconds}" />
                                    <br />
                                    <p:outputLabel value="End date: " />
                                    <p:outputLabel value="#{firstExcerciseBean.end.date}/#{firstExcerciseBean.end.month}/#{firstExcerciseBean.end.year}  #{firstExcerciseBean.end.hours}:#{firstExcerciseBean.end.minutes}:#{firstExcerciseBean.end.seconds}"/>
                                    <br />

                                    <p:outputLabel value="Time in miliseconds: " />
                                    <p:outputLabel value="#{firstExcerciseBean.timeBetween} ms" />
                                    <br />
                                    <p:outputLabel value="Time in seconds: " />
                                    <p:outputLabel value=" #{firstExcerciseBean.timeBetween/1000} s" />
                                </p:panel>




                            </c:if>
                            <c:if test="#{firstExcerciseBean.second}">
                                <p:panel id="secondMode" rendered="#{firstExcerciseBean.secondMode}" style="border:0 !important; width: 350px; margin:0 auto;">
                                    <p:outputLabel value="Please select what you want to do:" />
                                    <p:selectOneRadio id="modeSecond" value="#{firstExcerciseBean.mode}">
                                        <f:selectItem itemLabel="Cipher" itemValue="true" />
                                        <f:selectItem itemLabel="De-Cipher" itemValue="false" />
                                    </p:selectOneRadio>

                                    <p:commandButton style="float: right;" value="confirm" actionListener="#{firstExcerciseBean.insertMode}" update="contentPanel "/>
                                </p:panel>


                                <p:panel rendered="#{firstExcerciseBean.secondUpload}">
                                    <p:outputLabel for="uploadSecond" rendered="#{firstExcerciseBean.mode}" value="Upload file:" />
                                    <p:fileUpload id="uploadSecond"  rendered="#{firstExcerciseBean.mode}" allowTypes="/(\.|\/)(txt)$/" mode="advanced" fileUploadListener="#{firstExcerciseBean.handleFileUpload}"  sizeLimit="500000000000" fileLimit="1" multiple="false"  update="contentPanel" />
                                    <p:outputLabel for="pathSecond"  rendered="#{!firstExcerciseBean.mode}" value="Insert path to file" />
                                    <p:fileUpload id="pathSecond"  rendered="#{!firstExcerciseBean.mode}" allowTypes="/(\.|\/)(txt)$/" mode="advanced" fileUploadListener="#{firstExcerciseBean.handleFileUpload}"  sizeLimit="500000000000" fileLimit="1" multiple="false"  update="contentPanel" />
                                </p:panel>
                                <p:panel id="secondPreview" rendered="#{firstExcerciseBean.secondPreview}">
                                    <p:editor  value="#{firstExcerciseBean.preview}" />
                                    <br />

                                    <p:commandButton style="float: right;" actionListener="#{firstExcerciseBean.bacon}" value="Confirm" update="contentPanel" />


                                </p:panel>
                                <p:panel id="secondTelemetry" rendered="#{firstExcerciseBean.secondTelemetry}">
                                    <p:outputLabel value="Start date: " />
                                    <p:outputLabel value="#{firstExcerciseBean.start.date}/#{firstExcerciseBean.start.month}/#{firstExcerciseBean.start.year}  #{firstExcerciseBean.start.hours}:#{firstExcerciseBean.start.minutes}:#{firstExcerciseBean.start.seconds}" />
                                    <br />
                                    <p:outputLabel value="End date: " />
                                    <p:outputLabel value="#{firstExcerciseBean.end.date}/#{firstExcerciseBean.end.month}/#{firstExcerciseBean.end.year}  #{firstExcerciseBean.end.hours}:#{firstExcerciseBean.end.minutes}:#{firstExcerciseBean.end.seconds}"/>
                                    <br />

                                    <p:outputLabel value="Time in miliseconds: " />
                                    <p:outputLabel value="#{firstExcerciseBean.timeBetween} ms" />
                                    <br />
                                    <p:outputLabel value="Time in seconds: " />
                                    <p:outputLabel value=" #{firstExcerciseBean.timeBetween/1000} s" />
                                </p:panel>





                            </c:if>
                            <c:if test="#{firstExcerciseBean.third}"  >
                                <p:panel id="thirdMode" rendered="#{firstExcerciseBean.thirdMode}" style="border:0 !important; width: 350px; margin:0 auto;">
                                    <p:outputLabel value="Please select what you want to do:" />
                                    <p:selectOneRadio id="modeThird" value="#{firstExcerciseBean.mode}">
                                        <f:selectItem itemLabel="Cipher" itemValue="true" />
                                        <f:selectItem itemLabel="De-Cipher" itemValue="false" />
                                    </p:selectOneRadio>

                                    <p:commandButton style="float: right;" value="confirm" actionListener="#{firstExcerciseBean.insertMode}" update="contentPanel "/>
                                </p:panel>


                                <p:panel rendered="#{firstExcerciseBean.thirdUpload}">
                                    <p:outputLabel for="uploadthird" rendered="#{firstExcerciseBean.mode}" value="Upload file:" />
                                    <p:fileUpload id="uploadthird"  rendered="#{firstExcerciseBean.mode}" allowTypes="/(\.|\/)(txt)$/" mode="advanced" fileUploadListener="#{firstExcerciseBean.handleFileUpload}"  sizeLimit="500000000000" fileLimit="1" multiple="false"  update="contentPanel" />
                                    <p:outputLabel for="path"  rendered="#{!firstExcerciseBean.mode}" value="Insert path to file" />
                                    <p:inputText id="path" rendered="#{!firstExcerciseBean.mode}" value="#{firstExcerciseBean.upload_path}"  />
                                    <p:commandButton rendered="#{!firstExcerciseBean.mode}" actionListener="#{firstExcerciseBean.uploadDecryption()}" value="Upload" style="float:right" update="contentPanel" />

                                </p:panel>

                                <p:panel id="thirdPreview" rendered="#{firstExcerciseBean.thirdPreview}">
                                    <p:editor rendered="#{firstExcerciseBean.mode}" value="#{firstExcerciseBean.preview}"/>
                                    <p:editor rendered="#{!firstExcerciseBean.mode}" value="#{firstExcerciseBean.preview_decrypt}"/>

                                    <p:outputLabel for="KEY" value="Please insert key: "/>
                                    <p:inputText id="KEY" value="#{firstExcerciseBean.keyword}" required="true" requiredMessage="Key is not optional! please insert key:"/>
                                    <p:message for="KEY" />
                                    <br />
                                    
                                    <p:commandButton style="float: right;" value="Confirm" actionListener="#{firstExcerciseBean.autokey}" update="contentPanel"/>


                                </p:panel>
                                <p:panel id="thirdTelemetry" rendered="#{firstExcerciseBean.thirdTelemetry}">
                                    <p:outputLabel value="Start date: " />
                                    <p:outputLabel value="#{firstExcerciseBean.start.date}/#{firstExcerciseBean.start.month}/#{firstExcerciseBean.start.year}  #{firstExcerciseBean.start.hours}:#{firstExcerciseBean.start.minutes}:#{firstExcerciseBean.start.seconds}" />
                                    <br />
                                    <p:outputLabel value="End date: " />
                                    <p:outputLabel value="#{firstExcerciseBean.end.date}/#{firstExcerciseBean.end.month}/#{firstExcerciseBean.end.year}  #{firstExcerciseBean.end.hours}:#{firstExcerciseBean.end.minutes}:#{firstExcerciseBean.end.seconds}"/>
                                    <br />

                                    <p:outputLabel value="Time in miliseconds: " />
                                    <p:outputLabel value="#{firstExcerciseBean.timeBetween} ms" />
                                    <br />
                                    <p:outputLabel value="Time in seconds: " />
                                    <p:outputLabel value=" #{firstExcerciseBean.timeBetween/1000} s" />
                                </p:panel>


                            </c:if>
                        </p:panel>
                    </h:form>

                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

